<div class="service_view_wrapper">
	<div class="view_header">
		<%= image_tag 'bg.jpg' %>
		<h6>Servicios</h6>
	</div>
	<div class="second_title">
		<h4>Nuestros Servicios</h4>
		<h2>Porque somos los mejores</h2>
	</div>
	<div class="services_wrapper">
		<div class="service_details">
			<div>
				<%= image_tag 'icon4w.png' %>
				<span class="service_title">HAPPY CLIENTS</span>
				<p>Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat. Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat. Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat. Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat.</p>
			</div>
		</div>
		<div class="service_details">
			<div>
				<%= image_tag 'icon4w.png' %>
				<span class="service_title">HAPPY CLIENTS</span>
				<p>Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat.</p>
			</div>
		</div>
		<div class="service_details">
			<div>
				<%= image_tag 'icon4w.png' %>
				<span class="service_title">HAPPY CLIENTS</span>
				<p>Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat.</p>
			</div>
		</div>
		<div class="service_details">
			<div>
				<%= image_tag 'icon4w.png' %>
				<span class="service_title">HAPPY CLIENTS</span>
				<p>Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat.</p>
			</div>
		</div>
		<div class="service_details">
			<div>
				<%= image_tag 'icon4w.png' %>
				<span class="service_title">HAPPY CLIENTS</span>
				<p>Sed sit amet leo orci. Fusce tincidunt accumsan pretium. Donec fermentum, ex non placerat.</p>
			</div>
		</div>
	</div>
</div>
<div class="parallax parallax_service">
	<div class="overlay"></div>
	<h2>“Viajar es la única cosa que pagas y te hace más rico”</h2>
</div>
<div class="process_wrapper">
	<div class="second_title">
		<h4>Asi Trabajamos</h4>
		<h2>Conozca como funcionamos</h2>
	</div>
</div>
